<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP3 - Akka</title>
</head>
<body>
    <h1>TP3 - Akka</h1>

    <h2>Initialisation des acteurs Akka</h2>
    <form action="/initializeActors" method="post">
        <button type="submit">Initialiser</button>
    </form>

    <h2>Fichier à analyser</h2>
    <form action="/addFile" method="post" enctype="multipart/form-data">
        <label for="fileInput">Fichier :</label>
        <input type="file" id="fileInput" name="fileInput" accept=".txt" >
    	<button type="submit">Submit</button>
	</form>

    <h2>Résultat</h2>
    
	<form action="/getOccurrences" method="get">
	    <label for="wordInput">Mot :</label>
	    <input type="text" name="word">
	    <button type="submit">Rechercher</button>
	
		<p>Mot : <span th:text="${word}"></span></p>
		<p>Nombres d'occurrences : <span th:text="${wordCount}"></span></p>
	</form>
    
</body>
</html>
