<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP3 - Akka</title>
</head>
<body>
    <h1>TP3 - Akka</h1>

    <h2>Initialisation des acteurs Akka</h2>
    <form action="/initializeActors" method="post">
        <button type="submit">Initialiser</button>
    </form>

    <h2>Fichier à analyser</h2>
    <form action="/addFile" method="post" enctype="multipart/form-data">
        <label for="fileInput">Fichier :</label>
        <input type="file" id="fileInput" name="fileInput">
    	<button type="submit">Submit</button>
	</form>

    <h2>Résultat</h2>
    <p>Mot : <span id="mot"></span></p>
    <p>Nombres d'occurrences : <span id="nbrOccu"></span></p>
    
    <form id="occurrencesForm">
        <label for="wordInput">Mot :</label>
        <input type="text" id="wordInput" name="word">
        <button type="button" onclick="getOccurrences()">Rechercher</button>
    </form>
    
    <script>
        function getOccurrences() {
            var word = document.getElementById("wordInput").value;
            fetch("/getOccurrences?word=" + word)
                .then(response => response.text())
                .then(data => {
                    document.getElementById("mot").innerText = word;
                    document.getElementById("nbrOccu").innerText = data;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>
